body {
    background-color: white;
}

header {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #0544a3;
    height:38px;
}

nav {
    float: right;
    margin: auto;
    padding: 0%;
}

nav ul {
    list-style-type: none;
    color: #60a7bf;
    text-decoration: underline;
}

li{
    display: inline;
    float: right;
    padding: 10px;
}

section {
    font-style: normal;
}

img {
    border: 5px solid#555;
} 

.hero {
    float: right;
    width: auto;
    height: 400px;
}

}
.image3, .image4 {
    float: right;
    width: 400px;
    height: 180px;
}

.image5, .image6 {
    float: right;
    width: 400px;
    height: 180px;
}

h1 {
    
}

.dividertwo {

}
table {
    float: left;
}
           
.title {
    display: inline-block;

}

.class title {

} 

aside h1 {
    float: left;
}

.class divider 3 {

}

.footer {
    display: inline-block
}
li {
    display: inline;
    padding: 10px;
}
